<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swd_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.Activities.LoginActivity" />
        <activity android:name=".User.Activities.RegisterActivity" />
        <activity android:name=".User.Activities.EventFormWebViewActivity" />
        <activity android:name=".User.Activities.EventFullDetailActivity" />
        <activity android:name=".User.Activities.EventBasicDetailsActivity" />
        <activity android:name=".Admin.Activities.EventAdminActivity" />
        <activity android:name=".Authentication.Client.ProfileActivity" />
        <activity android:name=".Authentication.Admin.AdminHomeActivity" />
        <activity android:name=".Authentication.Admin.AdminLoginActivity" />
        <activity android:name=".Authentication.Client.HomeActivity" />
        <activity android:name=".Authentication.Client.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>